@page "/consoles"
@rendermode InteractiveServer
@using BlazorBootstrap
@using Projekt.Database
@using Projekt.Items
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Console = Projekt.Items.Console
@inject Database db

<PageTitle>My Games and more</PageTitle>

<h1>Consoles</h1>
<QuickGrid @ref="ConsoleGrid" Class="table table-striped m-0"
           Items="@db.Consoles"
           ItemKey="@(x => x.ID)">
    <PropertyColumn Title="ID"
                    Property="@(x => x.ID)"
                    Sortable="true"/>
    <PropertyColumn Title="Title"
                    Property="@(x => x.Name)"
                    Sortable="true"/>
    <PropertyColumn Title="Condition"
                    Property="@(x => x.Condition)"/>
    <PropertyColumn Title="Value"
                    Property="@(x => x.ValueOfItem)"/>
    <TemplateColumn>
        <div>
            <a @onclick="async() => await Delete(context)">
                <span class="bi bi-trash" aria-hidden="true" style="color: #a52834"></span>
            </a>
        </div>
    </TemplateColumn>
</QuickGrid>
<Modal @ref="modal" title="Modal title" IsVerticallyCentered="true">
    <BodyTemplate>
        <form method="post" @onsubmit="async() => await Submit(Console)" @formname="starship-plain-form">
            <AntiforgeryToken/>
            <div>
                <label class="form-label" style="width: 100%">
                    Name:
                    <InputText class="form-control" style="border-color: #A9A9A9" @bind-Value="Console!.Name"/>
                </label>
            </div>
            <div>
                <label class="form-label" style="width: 100%">
                    Condition:
                    <InputText class="form-control" style="border-color: #A9A9A9" @bind-Value="Console!.Condition"/>
                </label>
            </div>
            <div>
                <label class="form-label" style="width: 100%">
                    Value:
                    <InputText class="form-control" style="border-color: #A9A9A9" @bind-Value="Console!.ValueOfItem"/>
                </label>
            </div>
            <div>
                <button class="btn btn-secondary" @onclick="OnHideModalClick" type="submit">Add</button>
            </div>
        </form>
    </BodyTemplate>
</Modal>
<br/>
<div style="display: flex; flex-direction: row; align-items: flex-start">
    <Button Color="ButtonColor.Secondary" @onclick="OnShowModalClick">Add</Button>
    <div style="margin-left: auto; display: flex; flex-direction: column; align-items: flex-start;">
        <p style="margin-bottom: 0.5rem; text-align: right; width: 100%">
            Total consoles: @db.Consoles.Count()
        </p>
    </div>
</div>

@code {
    QuickGrid<Console> ConsoleGrid;
    
    private Modal modal = default!;

    public async Task OnShowModalClick()
    {
        Console = new Console();
        await modal.ShowAsync();
    }

    public async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }


    
    [SupplyParameterFromForm]
    private Console? Console { get; set; }
    protected override void OnInitialized() => Console ??= new();

    private async Task Submit(Console console)
    {
        if (console.ValueOfItem == null)
        {
            console.ValueOfItem = "N/A";
        }
        db.Consoles.Add(console);
        await db.SaveChangesAsync();
        await ConsoleGrid.RefreshDataAsync();
    }
    
    private async Task Delete(Console console)
    {
        db.Consoles.Remove(console);
        await db.SaveChangesAsync();
        await ConsoleGrid.RefreshDataAsync();
    }
}