@page "/"
@using BlazorBootstrap
@using Projekt.Database
@using Projekt.Items
@using Microsoft.AspNetCore.Components.QuickGrid
@inject Database db
@rendermode InteractiveServer

<PageTitle>My Games and more</PageTitle>

<h1>Games</h1>
<QuickGrid @ref="Grid" Class="table table-striped m-0"
           Items="@db.Games"
           ItemKey="@(x => x.ID)">
    <PropertyColumn Title="ID"
                    Property="@(x => x.ID)"
                    Sortable="true"/>
    <PropertyColumn Title="Title"
                    Property="@(x => x.Name)"
                    Sortable="true"/>
    <PropertyColumn Title="Platform"
                    Property="@(x => x.Platform)"
                    Sortable="true"/>
    <PropertyColumn Title="Edition"
                    Property="@(x => x.Edition)"/>
    <PropertyColumn Title="Value"
                    Property="@(x => x.ValueOfItem)"
                    Sortable="true"/>
    <TemplateColumn>
        <div>
            <a @onclick="async() => await Delete(context)">
                <span class="bi bi-trash" aria-hidden="true" style="color: #a52834"></span>
            </a>
        </div>
    </TemplateColumn>
</QuickGrid>
<Modal @ref="modal" title="Add game" IsVerticallyCentered="true">
    <BodyTemplate>
        <form method="post" @onsubmit="async() => await Submit(Game)" @formname="starship-plain-form">
            <AntiforgeryToken/>
            <div>
                <label>
                    Title:
                    <InputText @bind-Value="Game!.Name"/>
                </label>
            </div>
            <div>
                <label>
                    Platform:
                    <select @bind="Game!.Platform">
                        @foreach (var platform in Methods.values)
                        {
                            <option value="@platform">@platform</option>
                        }
                    </select>
                </label>
            </div>
            <div>
                <label>
                    Edition:
                    <InputText @bind-Value="Game!.Edition"/>
                </label>
            </div>
            <div>
                <button @onclick="OnHideModalClick">Cancel</button>
                <button @onclick="OnHideModalClick" type="submit">Add</button>
            </div>
        </form>
    </BodyTemplate>
</Modal>

<Button Color="ButtonColor.Secondary" @onclick="OnShowModalClick">Add</Button>

@code {
    QuickGrid<Game> Grid;
    
    private Modal modal = default!;

    public async Task OnShowModalClick()
    {
        Game = new Game();
        await modal.ShowAsync();
    }

    public async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
    
    [SupplyParameterFromForm]
    private Game? Game { get; set; }
    protected override void OnInitialized() => Game ??= new();

    private async Task Submit(Game game)
    {
        game.ValueOfItem = Methods.GameValueScraper(game.Name, game.Platform);
        db.Games.Add(game);
        await db.SaveChangesAsync();
        await Grid.RefreshDataAsync();
    }

    private async Task Delete(Game game)
    {
        db.Games.Remove(game);
        await db.SaveChangesAsync();
        await Grid.RefreshDataAsync();
    }
}