@page "/wishlist"
@using BlazorBootstrap
@using Projekt.Database
@using Projekt.Items
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@inject Database db
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>My Games and more</PageTitle>

<h1>Wishlist</h1>
<QuickGrid @ref="Grid" Class="table table-striped m-0"
           Items="@db.Wishlist"
           ItemKey="@(x => x.ID)">
    <PropertyColumn Title="ID"
                    Property="@(x => x.ID)"
                    Sortable="true"/>
    <PropertyColumn Title="Title"
                    Property="@(x => x.Name)"
                    Sortable="true"/>
    <PropertyColumn Title="Platform"
                    Property="@(x => x.Platform)"
                    Sortable="true"/>
    <PropertyColumn Title="Value"
                    Property="@(x => x.ValueOfItem)"/>
    <TemplateColumn>
        <div style="display: flex; flex-direction: row; gap: 1rem">
            <a @onclick="async() => await Transfer(context)">
               <span class="bi bi-arrow-left-right" aria-hidden="true" style="color: #286BB7"></span>
            </a>
            <a @onclick="async () => await Delete(context)">
                <span class="bi bi-trash" aria-hidden="true" style="color: #a52834"></span>
            </a>
        </div>
    </TemplateColumn>
</QuickGrid>
<Modal @ref="modal" title="Add wish" IsVerticallyCentered="true">
    <BodyTemplate>
        <form method="post" @onsubmit="async() => await Submit(Wish)" @formname="starship-plain-form">
            <AntiforgeryToken/>
            <div>
                <label class="form-label" style="width: 100%">
                    Name:
                    <InputText class="form-control" style="border-color: #A9A9A9" @bind-Value="Wish!.Name"/>
                </label>
            </div>
            <div>
                <label class="form-label" style="width: 100%">
                    Platform:
                    <select class="form-control" style="border-color: #A9A9A9" @bind="Wish!.Platform">
                        @foreach (var platform in Methods.values)
                        {
                            <option value="@platform">@platform</option>
                        }
                    </select>
                </label>
            </div>
            <div>
                <button class="btn btn-secondary" @onclick="OnHideModalClick" type="submit">Add</button>
            </div>
        </form>
    </BodyTemplate>
</Modal>
<br/>
<div style="display: flex; flex-direction: row; align-items: flex-start">
    <Button Color="ButtonColor.Secondary" @onclick="OnShowModalClick">Add</Button>
    <div style="margin-left: auto; display: flex; flex-direction: column; align-items: flex-start;">
        <p style="margin-bottom: 0.5rem; text-align: right; width: 100%">
            Total games on wishlist: @count
        </p>
    </div>
</div>

@code {
    QuickGrid<Wishlist> Grid;
    
    private Modal modal = default!;

    private int count = 0;
    
    public async Task OnShowModalClick()
    {
        Wish = new Wishlist();
        await modal.ShowAsync();
    }

    public async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
    
    [SupplyParameterFromForm]
    private Wishlist? Wish { get; set; }

    protected override void OnInitialized()
    {
        Wish ??= new();
        count = db.Wishlist.Count();
    } 

    private async Task Submit(Wishlist wish)
    {
        if (string.IsNullOrWhiteSpace(Wish.Name) || string.IsNullOrWhiteSpace(Wish.Platform))
        {
            await JS.InvokeVoidAsync("alert", "Something went wrong, try to fill all parameters");
            var entry = db.Entry(wish);
            if (entry.State != EntityState.Detached)
            {
                entry.State = EntityState.Detached;
            }
            return;
        }
        wish.ValueOfItem = Methods.GameValueScraper(wish.Name, wish.Platform);
        db.Wishlist.Add(wish);
        await db.SaveChangesAsync();
        await Grid.RefreshDataAsync();
        ++count;
    }
    
    private async Task Delete(Wishlist wish)
    {
        db.Wishlist.Remove(wish);
        await db.SaveChangesAsync();
        await Grid.RefreshDataAsync();
        --count;
    }
    public Game Game { get; set; }

    private async Task Transfer(Wishlist wish)
    {
        string edition = await JS.InvokeAsync<string>("prompt", "Edition: ", "Standard");
        if (string.IsNullOrWhiteSpace(edition))
        {
            return;
        }
        Game = new Game
        {
            Name = wish.Name,
            Platform = wish.Platform,
            Edition = edition,
            ValueOfItem = wish.ValueOfItem
        };
        await db.Games.AddAsync(Game);
        db.Wishlist.Remove(wish);
        await db.SaveChangesAsync();
        await Grid.RefreshDataAsync();
        --count;
    }


}